{% extends 'base.html' %}
{% block title %}
Quizz Page
{% endblock title %}

{% block extra_css %}
<!-- custom css -->
<link rel="stylesheet" href="{{ url_for('static', filename='quizz.css') }}">
{% endblock %}

{% block body %}


<div class="container-fluidd">


    <div class="box">
        <form method="post" action="/submit" class="foramm">
            <input type="hidden" name="subcat_id" value="{{ subcat_id }}">
            <div class="heading">
                <h1>Quizz challenge</h1>
                <p>Score 1 point for every correct answer</p>
                <p> All the best! </p>
            </div>
            {% for q in result %}
            <p><strong>Q{{ loop.index }} </strong>{{ q[1] }}</p>

            <label>
                <input type="radio" name="ans_{{ q[0] }}" value="a" >{{ q[2] }}
            </label><br>
            <label>
                <input type="radio" name="ans_{{ q[0] }}" value="b" >{{ q[3] }}
            </label><br>
            <label>
                <input type="radio" name="ans_{{ q[0] }}" value="c" >{{ q[4] }}
            </label><br>
            <label>
                <input type="radio" name="ans_{{ q[0] }}" value="d" >{{ q[5] }}
            </label><br>
            {% endfor %}

            <span class="buton">
                <button type="submit" class="btn btn-outline-success subbtn">Submit</button>
            </span>
        </form>
    </div>
</div>



{% endblock body %}